
#field {
    width: 200px;
    height: 150px;
    border: 10px solid rgb(109, 107, 107);
    background-color: #00a100;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  #ball {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    transition: all 1s;
  }
  
  
  
  
  
  body {
    margin: 10px auto;
    width: 470px;
  }
  
  h1 {
    margin: 0;
    padding-bottom: .3em;
    padding-right: 20px;
    font-size: 1.1em;
  }
  
  p {
    margin: 0;
    padding: 0 0 .5em;
  }
  
  .pane {
    background: #edf5e1;
    padding: 10px 20px 10px;
    border-top: solid 2px #c4df9b;
    position: relative;
  }
  
  .remove-button {
    position: absolute;
    font-size: 110%;
    top: 0;
    color: darkred;
    right: 10px;
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
  }